<nav class="navbar navbar-expand-lg navbar-fixed-top" id="mynav" style="background-color:rgba(0, 0, 0, 0.779);position: fixed; top:0;">
    <div class="container">
        <a class="navbar-brand" href="#" style="color:white">SANJAY APPArI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="mx-auto"></div>
            <ul class="navbar-nav mb-2 mb-lg-0" style="font-size: 13px;">
                <li class="nav-item">
                    <a class="nav-link" style="color:white;font-weight:700;font-family: 'Montserrat', sans-serif;" aria-current="page" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;font-weight:700;font-family: 'Montserrat', sans-serif;" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:white;font-weight:700;font-family: 'Montserrat', sans-serif;" aria-current="page" href="#projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style="color:white;font-weight:700;font-family: 'Montserrat', sans-serif;" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>