<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QSYLG4RLHL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QSYLG4RLHL');
    </script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "qt656nee5i");
    </script>

    <script defer src="https://umami-3nn8f4vza-komals-projects-23712773.vercel.app/script.js"
        data-website-id="a3f07ed6-b595-4eba-8cc2-b7cf6894d86f"></script>

    <title>Sanjay Appari's Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d1eb574a3d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600;700&family=Satisfy&family=Teko:wght@500&display=swap"
        rel="stylesheet">

    <link rel="icon" href="/images/s-logo.png" type="image/icon type">

</head>

<body>
    <%- include("partials/navbar") -%>
        <div class="home" id="home">
            <div class="content col-md-6 col-11">
                <div class="text">
                    <center>
                        <h2 style="font-weight:700;font-family: 'Open Sans', sans-serif; color: aqua;">Hello, I'm Appari
                            Sai Sanjay</h2>
                        <h6 style="color:white;font-family: 'Montserrat', sans-serif;">An Ungraduate Computer Science
                            Student With Knowledge In Competitive Programming And Web Development </h6>
                    </center>
                </div>
                <div class="buttons">
                    <a href="https://drive.google.com/file/d/17_1eWtxq8lWY80TgVTrMzVZKcpL3d9SZ/view?usp=sharing"
                        class="mybtn">Download CV</a>
                    <a href="#about" class="mybtn">About Me</a>
                </div>
            </div>
        </div>
        <div class="about" id="about">
            <div class="container">
                <center>
                    <h2 style="color:aqua">About Me</h2>
                </center>
                <div class="content">
                    <div class="logo">
                        <img src="/images/logo1.png" alt="">
                    </div>
                    <div class="text">
                        <center>
                            <h3 style="color:white">Let Me Introduce Myself</h3>
                        </center>
                        <center>
                            <p style="color:white;font-family: 'Montserrat', sans-serif;">
                                I am simple guy who love to code and design things.
                                I am currently pursuing my Btech Computer Science Engineering at Vignan's Institute of
                                Information Technology , Visakhapatnam.
                                I am passionate about learning new technologies and want to spend my life around
                                technical things solving problems and developing new things.
                            </p>
                            <h4 style="color:aqua">Skills</h4>
                            <div class="skills">
                                <h5 style="font-size:20px">Programming Languages : <span
                                        style=" color:grey;font-size:17px"> C/C++, Python, JavaScript</span></h5>
                                <h5 style="font-size:20px">FrameWorks : <span style=" color:grey;font-size:17px">
                                        NodeJs, ExpressJs, Flask, Django</span></h5>
                                <h5 style="font-size:20px">DataBases : <span style=" color:grey;font-size:17px">
                                        MongoDb, Mysql-dbms</span></h5>
                                <h5 style="font-size:20px">Other : <span style=" color:grey;font-size:17px">Problem
                                        Solving, Oops,PHP, Operating System, Unix, DataBase Management System,
                                        Windows</span></h5>
                            </div>
                            <a href="#moreabout" class="mybtn">More Info</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects" id="projects">
            <div class="container">
                <center>
                    <h2 style="color:aqua">Projects</h2>
                </center>
                <div class="content">

                    <div class="h-stretch">
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-1">
                            <img src="/images/agritech-logo.webp" alt="">
                            <div class="p-content">
                                <h1>AGRITECH</h1>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>

                    </div>
                    <div class="h-stretch">
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-7">
                            <img src="/images/blogging.webp" alt="">
                            <div class="p-content">
                                <h1>BLOG APP</h1>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>

                    </div>
                    <div class="h-stretch">
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-8">
                            <img src="/images/news.jpg" alt="">
                            <div class="p-content">
                                <h1>NEWS APP (API)</h1>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>

                    </div>


                    <div class="v-stretch">
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-2">
                            <img src="/images/blood-donation-logo.webp" alt="">
                            <div class="p-content">
                                <center>
                                    <h5 style="color:aqua">BLOOD DONATION MANAGEMENT SYSTEM</h5>
                                </center>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-3">
                            <img src="/images/garbage-logo.webp" alt="">
                            <div class="p-content">
                                <center>
                                    <h5 style="color:aqua">GARBAGE MANAGEMENT SYSTEM</h5>
                                </center>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-4">
                            <img src="/images/love-logo.webp" alt="">
                            <div class="p-content">
                                <center>
                                    <h4 style="color:aqua">LOVE CALCULATOR</h4>
                                </center>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-5">
                            <img src="/images/crud-logo.jpeg" alt="">
                            <div class="p-content">
                                <center>
                                    <h4 style="color:aqua">NODE CRUD APP</h4>
                                </center>
                                <P>WEB APPLICATION</P>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a class="p-link" href="" data-bs-toggle="modal" data-bs-target="#project-6">
                            <img src="/images/travel-logo.jpeg" alt="">
                            <div class="p-content">
                                <center>
                                    <h5 style="color:aqua">TOUR & TRAVEL MANAGEMENT SYSTEM</h5>
                                </center>
                                <p>WEB APPLICATION</p>
                            </div>
                        </a>
                    </div>



                    <!-- project-1 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-1" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">AGRITECH</h5>
                                    <p style="color:black">
                                        Created an Online Interacted platform connecting farmer with
                                        customers. The platform allows Investors to invest in the crops
                                        cultivated by farmers and receive the production, as mutual
                                        agreement.
                                        Farmers are able to accept the request for their crop based on their
                                        requirements and can make mutual agreement with the investor.
                                        The Platform also provides Weather report of their location, Crop-
                                        Soil Information. Farmers are able rent their Farm Tools.
                                        Tech Stack: Nodejs, Expressjs, Mongodb, Html
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://agritech-ry58.onrender.com/" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- project-2 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-2" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">BLOOD DONATION MANAGEMENT SYSTEM</h5>
                                    <p style="color:black">
                                        Created a web application connecting the Blood Donars and
                                        Patients.
                                        Donor and Patient upload all their medical proofs
                                        Admin of the web application will make connection the donor and
                                        patient based on their requirement.
                                        Donor and Patients can move further based on their personal
                                        mutual agreement.
                                        Tech Stack: Html, Css, Php , Xampp Server, MYSql
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://github.com/SanjayAppari" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- project-3 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-3" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">GARBAGE MANAGEMENT SYSTEM</h5>
                                    <p style="color:black">
                                        Proper management of waste is getting tougher because of increasing population,
                                        urbanization, and industrialization. In this modern era of technology, we need
                                        to apply technology-based solutions to handle large amounts of waste for
                                        overpopulated urban areas. We have reviewed several recent research articles
                                        related to the smart waste management system, and almost all of them have some
                                        major limitations as well as progress. To ensure environmental hygiene and
                                        sustainable urban life, we have presented a website based project consists of
                                        user, admin, driver. In this website we can raise a complaint to the
                                        administrator and that administrator assignes work to the driver. And that
                                        driver collects the waste from the garbage bin and most importantly it is
                                        completely a web based project.”
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://github.com/SanjayAppari" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- project-4 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-4" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">LOVE CALCULATOR</h5>
                                    <p style="color:black">
                                        Love calculator is my small project which i have created using javascript to
                                        test my javascirpt basics.
                                        It basically a web applications which takes two names as input and displays the
                                        estimated Relationship among two names using javascript.
                                        Tech stack: Html,Css,Javascript, Nodejs , Expressjs,Mongodb.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://lovecalculator-fk7d.onrender.com/" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- project-5 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-5" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">NODE CRUD APPLICATION</h5>
                                    <p style="color:black">
                                        Node Crud application is a small web application which performs Creation,
                                        Reading , Updation and Deletion of entries using Node js and mongodb.
                                        Tech stack: Nodejs ,Expressjs,Ejs,Mongodb,Mongoose,Html,css.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://github.com/SanjayAppari" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- project-6 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-6" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">TOUR & TRAVEL MANAGEMENT SYSTEM</h5>
                                    <p style="color:black">
                                        It's a Web Application where it solves the main 3 problems of
                                        Travellers( Food,Accommodation,Transport). Main Highlighting features of this
                                        website are HITCH_HIKING
                                        and COMMUNITY HOSTINGS . Users can Create , Update and Delete Community Hosting
                                        and Hitch-Hiking card . Technologies Used : HTML, CSS, PHP, MySQL, XAMPP
                                        SERVER .
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://github.com/SanjayAppari" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- project-7 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-7" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">BLOG APP</h5>
                                    <p style="color:black">
                                        The Blog App is a dynamic web application designed to revolutionize the way
                                        individuals create, edit, and share their blogs. With its user-friendly
                                        interface and robust features, this application is set to become your go-to
                                        platform for expressing your thoughts, sharing your experiences, and engaging
                                        with a community of like-minded individuals. <br>
                                        Technologies Used : Reactjs , MongoDb, ExpressJs, Nodejs , Css .
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://github.com/SanjayAppari/BlogApp-React" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- project-8 Modal -->
                    <div style="z-index: 100000;" class="modal fade" id="project-8" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 style="color:aqua">NEWS APP (API)</h5>
                                    <p style="color:black">
                                        The News App is a cutting-edge web application that leverages APIs to fetch the
                                        latest news from around the world. With a user-friendly interface and an
                                        extensive range of categories, this app delivers a comprehensive news experience
                                        tailored to your interests. Stay informed, explore diverse topics, and discover
                                        the stories that matter most to you with the News App.<br>
                                        Technologies Used : Reactjs , MongoDb, ExpressJs, Nodejs , NewsApi ,Css .
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="https://github.com/SanjayAppari/News-React-App" class="mybtn"
                                        style="color:aqua">Details</a>
                                    <button type="button" class="mybtn" data-bs-dismiss="modal"
                                        style="color:aqua">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



        <div class="more-about" id="moreabout">
            <div class="container">
                <center>
                    <h2 style="color:aqua">More About Me</h2>
                </center>
                <div class="content">
                    <div class="profiles">
                        <center>
                            <h4>Coding Profiles</h4>
                        </center>
                        <div class="profile">
                            <div class="each">
                                <div class="logo">
                                    <a href="https://www.codechef.com/users/sanjay_appari">
                                        <img src="/images/cclogo.png" alt="">
                                    </a>
                                </div>
                                <div class="text">
                                    <center>
                                        <h5>CODECHEF</h5>
                                        <p style="margin-top: -10px; color: grey;">Highest rating : 1667</p>
                                    </center>
                                </div>
                            </div>
                            <div class="each">
                                <div class="logo">
                                    <a href="https://leetcode.com/SanjayAppari/">
                                        <img src="/images/lclogo.png" alt="">
                                    </a>
                                </div>
                                <div class="text">
                                    <center>
                                        <h5>LEETCODE</h5>
                                        <p style="margin-top: -10px; color: grey;">Highest rating : 1701</p>
                                    </center>
                                </div>
                            </div>
                            <div class="each">
                                <div class="logo">
                                    <a
                                        href="https://www.codingninjas.com/codestudio/profile/0af4a76a-3540-4acb-8189-3ec322a65827">
                                        <img src="/images/cnlogo.png" alt="">
                                    </a>
                                </div>
                                <div class="text">
                                    <center>
                                        <h5>CODING NINJAS</h5>
                                        <p style="margin-top: -10px; color: grey;">Highest rating : 2455</p>
                                    </center>
                                </div>
                            </div>
                            <div class="each">
                                <div class="logo">
                                    <a href="https://codeforces.com/profile/sanjay_appari">
                                        <img src="/images/cflogo.png" alt="">
                                    </a>
                                </div>
                                <div class="text">
                                    <center>
                                        <h5>CODEFORCES</h5>
                                        <p style="margin-top: -10px; color: grey;">Institute 10th Rank</p>
                                    </center>
                                </div>
                            </div>
                            <div class="each">
                                <div class="logo">
                                    <a href="https://www.hackerrank.com/20L31A0512">
                                        <img src="/images/hrlogo.png" alt="">
                                    </a>
                                </div>
                                <div class="text">
                                    <center>
                                        <h5>HACKERRANK</h5>
                                        <p style="margin-top: -10px; color: grey;">Earned 6 Badges</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="achievements">
                        <center>
                            <h4 style="color:aqua">Achievements</h4>
                        </center>
                        <div class="achieved">
                            <ul>
                                <li>Achieved certification in Codechef DSA foundation level
                                    Examination.</li>
                                <li>Ranked 1 in Vignan University’s Coding Hackathon and won a
                                    cash prize of 1k.</li>
                                <li>
                                    Ranked Top-10 In National Level Hackathon & won a cash prize of 2K.
                                    (Teams of 3)
                                </li>
                                <li>Ranked 1 in StarWars Coding contest conducted in VIIT among Cse</li>
                                <li>Ranked 4 in ANITS Cod-a-thon among 500+ participants.</li>
                                <li>Ranked 1 in GFG_VIIT Coding Contest and 800 Worth Coupon.</li>
                                <li>Selected for Round 2 in Solving India Nationaal Hacthon conducted
                                    by GFG. (Team of 3)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <div class="contact" id="contact">
            <div class="container">
                <center>
                    <h2 style="color:aqua">Contact Me</h2>
                </center>
                <div class="content">
                    <div class="text">
                        <center>
                            <h1>I'd Love To Hear From You.</h1>
                            <h4 style="color:grey">For any queries and to know more about my work , contact me.</h4>
                        </center>
                    </div>
                    <div class="blocks">
                        <div class="inside">
                            <div class="head">
                                <i class="fa-solid fa-location-dot"></i>
                                <h5>ADDRESS</h5>
                            </div>
                            <div class="body">
                                <center>
                                    <p>
                                        Door No-A2, Vignan's Boys Hostel ,Ahmednagar, Visakhapatnam, AndhraPradesh.
                                    </p>
                                </center>
                            </div>
                        </div>
                        <div class="inside">
                            <div class="head">
                                <i class="fa-solid fa-envelope"></i>
                                <h5>EMAIL</h5>
                            </div>
                            <div class="body">
                                <center>
                                    <p>
                                        <a href="mailto:apparisanjaym6@gmail.com"
                                            style="color:white">apparisanjaym6@gmail.com</a>
                                        <a href="mailto:20l31a0512@vignaniit.edu.in"
                                            style="color:white">20l31a0512@vignaniit.edu.in</a>
                                    </p>
                                </center>
                            </div>
                        </div>
                        <div class="inside">
                            <div class="head">
                                <i class="fa-solid fa-phone-volume"></i>
                                <h5>CALL</h5>
                            </div>
                            <div class="body">
                                <center>
                                    <p>
                                        +918074963346
                                        +918074963346
                                    </p>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="icons">
                        <a href="https://github.com/SanjayAppari"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sanjay-appari-6b6696208/"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/_sanjay_appari/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://twitter.com/AppariSanjay"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>


</body>

</html>